<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infinite.com.infinitesport">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FIND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="539f1d23b6cd861270162bba2b8c84b6" />

        <!-- amap end -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".MainActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pathtrack.PathTrackActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".basic.BasicMapActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.BaseMapFragmentActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.CameraActivity"
            android:label="@string/camera_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.HeatMapActivity"
            android:label="@string/heatmap_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.EventsActivity"
            android:label="@string/events_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.LayersActivity"
            android:label="@string/layers_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.PoiClickActivity"
            android:label="@string/poiclick_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.MapOptionActivity"
            android:label="@string/mapOption_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.ScreenShotActivity"
            android:label="@string/screenshot_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".opengl.OpenglActivity"
            android:label="@string/opengl_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.UiSettingsActivity"
            android:label="@string/uisettings_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".overlay.MarkerActivity"
            android:label="@string/marker_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".overlay.PolylineActivity"
            android:label="@string/polyline_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".overlay.ArcActivity"
            android:label="@string/arc_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".overlay.GroundOverlayActivity"
            android:label="@string/groundoverlay_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".overlay.PolygonActivity"
            android:label="@string/polygon_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".overlay.CircleActivity"
            android:label="@string/circle_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".overlay.NavigateArrowOverlayActivity"
            android:label="@string/navigatearrow_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".location.LocationModeSourceActivity"
            android:label="@string/locationmodesource_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".goodlocation.GoodLocationActivity"
            android:label="@string/location_gps_amap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".geocoder.GeocoderActivity"
            android:label="@string/geocoder_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".route.RouteActivity"
            android:label="@string/route_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".busline.BuslineActivity"
            android:label="@string/busline_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".poisearch.PoiKeywordSearchActivity"
            android:label="@string/poikeywordsearch_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".poisearch.PoiAroundSearchActivity"
            android:label="@string/poiaroundsearch_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".offlinemap.OfflineMapActivity"
            android:label="@string/offlinemap_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".district.DistrictActivity"
            android:label="@string/district_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".district.DistrictWithBoundaryActivity"
            android:label="@string/district_boundary_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cloud.CloudActivity"
            android:label="@string/cloud_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cloud.CloudDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cloud.PreviewPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".share.ShareActivity"
            android:label="@string/share_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".weather.WeatherSearchActivity"
            android:label="@string/weather_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".poisearch.SubPoiSearchActivity"
            android:label="@string/subpoi_demo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".route.DriveRouteDetailActivity"
            android:label="@string/route_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".route.WalkRouteDetailActivity"
            android:label="@string/route_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".route.BusRouteDetailActivity"
            android:label="@string/route_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".indoor.IndoorMapActivity"
            android:label="@string/indoormap_demo"
            android:screenOrientation="portrait" />
    </application>

</manifest>